.header {
    position: fixed;
    width: 100vw;
    flex: 0;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 5vh;
        height: 5vh;
    }
}