.homeScreen {
    display: flex;
    flex: 1;
    @media only screen and (max-width: 1100px) {
        flex-direction: column !important;
        .heroImage{
            >img{
                height: 60vh !important;
                width: 100vw !important;
                object-position: top !important;
                object-fit: cover !important;
            }
        }
        .heroText {
            padding: 40px !important;
            right: 0px !important;
            position: initial !important;
            transform: none !important;
        }
    }
    @media only screen and (min-width: 1100px) {
        flex-direction: row-reverse;
        .heroText {
            position: relative;
            right: 50%;
            transform: translateX(calc(100% + 40px + 40px));
            padding-right: 160px;
            h1 {
                font-size: 2.75em;
            }
            h3 {
                padding: 0px;
                margin: 0px;
                color: #777777;
            }
            h6 {
                font-size: 1em;
                color: #aaaaaa;
            }
            p {
                margin-top: 20px;
                color: #777777;
            }
        }
        .heroImage {
            >img {
                object-position: top;
                object-fit: cover;
                width: 50vw;
                max-height: calc(90vh);
            }
        }
    }
}