body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Open Sans";
  font-weight: 300;
}

a {
  text-decoration: none;
  color: black;
  transition: all 200ms 0s;
}

a:hover {
  opacity: 0.7;
  transition: all 200ms 0s;
}

.headerSpacing {
  height: calc(5vh + 80px) !important;
  width: 1px;
}

.headerSpacingLess{
  height: 0.5in !important;
  width: 1px;
}

::-webkit-scrollbar{
  display: none;
}